@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Opera ke liye */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, Firefox ke liye */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;  /* Firefox */
}